%h1 Initiatives
- content_for :sidebar do
  = link_to 'New initiative', new_initiative_path if permitted_to? :create

- @initiatives.each do |initiative|
  .box
    %h2.title
      = link_to initiative.name, initiative_url(initiative)
    .location= initiative.location
    - unless (work_groups = initiative.work_groups).empty?
      Work groups:
      - work_groups.each do |wg|
        = link_to wg.name, work_group_path(wg)
    - permitted_to? :create do
      %p
        =link_to 'Edit', edit_initiative_path(initiative)
        =link_to 'Destroy', initiative, :confirm => 'Are you sure?', :method => :delete